---
- name: Copy autoinstall templates
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "/var/lib/cobbler/templates/{{ item }}"
    owner: root
    group: root
    mode: '0644'
  loop:
    - debian.seed
    - rhel.ks

- name: Copy custom autoinstall templates
  ansible.builtin.template:
    src: templates.j2
    dest: "/var/lib/cobbler/templates/{{ item.name }}"
    owner: root
    group: root
    mode: '0644'
  loop: "{{ cobbler_autoinstall_templates }}"
  loop_control:
    label: "{{ item.name }}"
  when: cobbler_autoinstall_templates | length > 0

- name: Do not configure apt repo in preseed late script
  ansible.builtin.lineinfile:
    path: /var/lib/cobbler/scripts/preseed_late_default
    state: absent
    regexp: 'late_apt_repo_config'

- name: Add snippet to create automation user in preseed late script
  ansible.builtin.lineinfile:
    path: /var/lib/cobbler/scripts/preseed_late_default
    insertbefore: 'autoinstall_done'
    line: "$SNIPPET('{{ item }}')"
    create: true
    owner: root
    group: root
    mode: '0644'
  loop:
    - create_automation_user
    - custom_post_install

- name: Configure Cobbler profiles
  cobbler_profile:
    host: "{{ cobbler_api_host }}"
    port: "{{ cobbler_api_port | default(omit) }}"
    use_ssl: "{{ cobbler_api_use_ssl | default(omit) }}"
    username: "{{ cobbler_api_username }}"
    password: "{{ cobbler_api_password }}"
    name: "{{ item.name }}"
    state: "{{ item.state | default(omit) }}"
    properties: "{{ item.properties }}"
  delegate_to: localhost
  become: false
  loop: "{{ cobbler_profiles }}"
  loop_control:
    label: "{{ item.name }}"

- name: Create per_profile snippets directories
  ansible.builtin.file:
    path: "/var/lib/cobbler/snippets/per_profile/{{ item.1.name }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  loop: "{{ cobbler_profiles | subelements('snippets', skip_missing=True) }}"
  loop_control:
    label: "Create directory /var/lib/cobbler/snippets/per_profile/{{ item.1.name }}"

- name: Copy per_profile snippets
  ansible.builtin.template:
    src: per_snippet.j2
    owner: root
    group: root
    mode: '0644'
    dest: "/var/lib/cobbler/snippets/per_profile/{{ item.1.name }}/{{ item.0.name }}"
  loop: "{{ cobbler_profiles | subelements('snippets', skip_missing=True) }}"
  loop_control:
    label: "Install snippet /var/lib/cobbler/snippets/per_profile/{{ item.1.name }}/{{ item.0.name }}"
